table, th, td {
    border: 1px solid black;
}

table {
    border-spacing: 3;
}

th, td{
    padding: 3;
}

body {
    background-image: url("Resources/background.jpg");
    background-repeat: repeat;
    font: 12px Tahoma, Arial, serif;
}

img {
    float: right;
    padding: 0 20px 20px 0;
    border: 2px solid white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
    text-indent: 4px;
}

h1 {
    font-size: 30px;
    text-decoration: dotted;
    margin-top: 22px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 6px;
}

.routine {
    background-color: aqua;
    border: 1px solid rgb(3, 201, 201);
}

.bus {
    background-color: blueviolet;
    border: 1px solid rgb(114, 36, 187);
}

.work {
    background-color: blanchedalmond;
    border: 1px solid rgb(221, 204, 178);
}

.break {
    background-color: coral;
    border: 1px solid rgb(228, 112, 71);
}

.school {
    background-color: cornflowerblue;
    border: 1px solid rgb(88, 130, 207);
}