table, th, td {
    border: 1px solid black;
}

table {
    border-spacing: 3;
}

th, td{
    padding: 3;
}

body {
    background-image: url(".../Resources/background.jpg");
    background-repeat: repeat;
    font: 12px Tahoma, Arial, serif;
}

img {
    float: right;
    padding: 0 20px 20px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
    text-indent: 4px;
}

h1 {
    font-size: 30px;
    text-decoration: dotted;
}

